{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}

    {{ form_row(registrationForm.email) }}

    {# Champs de InfosUser (form imbriqué) #}
    {{ form_row(registrationForm.infosUser.firstName) }}
    {{ form_row(registrationForm.infosUser.lastName) }}
    {{ form_row(registrationForm.infosUser.city) }}
    {{ form_row(registrationForm.infosUser.zipCode) }}
    {{ form_row(registrationForm.infosUser.phoneNumber) }}
    {{ form_row(registrationForm.infosUser.userName) }}
    {{ form_row(registrationForm.infosUser.birthDate) }}

    <div class="form-element">
        {{ form_label(registrationForm.plainPassword.first,null, {'label_attr': {'class': 'required-label'}}) }}
        <div class="input-with-icon">
            {{ form_widget(registrationForm.plainPassword.first) }}
            <span class="toggle-password" aria-label="Afficher ou masquer le mot de passe" onclick="togglePassword('registration_form_plainPassword_first')">
                <i class="fas fa-eye"></i>
            </span>
        </div>
        {{ form_errors(registrationForm.plainPassword.first) }}
    </div>
    <div class="form-element">
        {{ form_label(registrationForm.plainPassword.second,null, {'label_attr': {'class': 'required-label'}}) }}
        <div class="input-with-icon">
            {{ form_widget(registrationForm.plainPassword.second) }}
            <span class="toggle-password" aria-label="Afficher ou masquer le mot de passe" onclick="togglePassword('registration_form_plainPassword_second')">
                <i class="fas fa-eye"></i>
            </span>
        </div>
        {{ form_errors(registrationForm.plainPassword.second) }}
    </div>

    {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit" class="btn btn-primary mt-3">Register</button>

    {{ form_end(registrationForm) }}
{% endblock %}
