{% extends 'base.html.twig' %}

{% block title %}Proposition index{% endblock %}

{% block body %}
    <h1>Proposition index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Status</th>
                <th>Category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proposition in propositions %}
            <tr>
                <td>{{ proposition.id }}</td>
                <td>{{ proposition.title }}</td>
                <td>{{ proposition.description }}</td>
                <td>{{ proposition.createdAt ? proposition.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ proposition.updatedAt ? proposition.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ proposition.status.value }}</td>
                <td>{% for category in proposition.category %}
                        {{ category }}
                    {% else %}
                        <em>Aucune catégorie</em>
                    {% endfor %}</td>
                <td>
                    <a href="{{ path('app_proposition_show', {'id': proposition.id}) }}">show</a>

                </td>
            </tr>
            <td>
                <span class="ms-2">❤️ {{ proposition.getFavoritesCount() }}</span>
            </td>

        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_proposition_new') }}">Create new</a>
{% endblock %}
