{% extends 'base.html.twig' %}

{% block title %}Proposition{% endblock %}

{% block body %}
    <h1>Proposition</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ proposition.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ proposition.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ proposition.description }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ proposition.createdAt ? proposition.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ proposition.updatedAt ? proposition.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ proposition.status.value }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{% for category in proposition.category %}
                        {{ category }}<br>
                    {% else %}
                        <em>Aucune catégorie</em>
                    {% endfor %}</td>
            </tr>
        </tbody>
    </table>
    <td>
        <form method="post" action="{{ path('app_favorite_toggle', { id: proposition.id }) }}">
            <input type="hidden" name="_token" value="{{ csrf_token('toggle_favorite' ~ proposition.id) }}">
            <button class="btn-primary-amz">
                {% if app.user and proposition.isFavoritedBy(app.user) %}
                    Retirer des favoris
                {% else %}
                    Ajouter aux favoris ❤️
                {% endif %}
            </button>
            <span class="ms-2">❤️ {{ proposition.getFavoritesCount() }}</span>
        </form>

        <a href="{{ path('app_proposition_show', {'id': proposition.id}) }}" class="btn btn-secondary mt-1">Voir</a>
    </td>



    <a href="{{ path('app_proposition_index') }}">back to list</a>

    <a href="{{ path('app_proposition_edit', {'id': proposition.id}) }}">edit</a>

    {{ include('proposition/_delete_form.html.twig') }}
{% endblock %}
